<header>
    <h1 class="title">This is the homepage!!</h1>
</header>

<div class="blog-container">
    <h1>This is the Blog that I created First</h1>
    <div class="blog-left">
      
    </div>
    <div class="blog-right">
        
    </div>
</div>

<footer>
    <div class="footer-left">
        
    </div>
    <div class="footer-right">
        
    </div>
</footer>

</body>
</html>